@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Bu site ASP.Net Core ile MongoDB altyapısı kullanılarak hazırlanmıştır.</p>
</div>

<div style="width: 100%; margin-top: 60px;">
    <div style="width: 65%; margin-left: auto; margin-right: auto;">
        <form id="form" style="text-align: center;" asp-action="ShortenUrl" method="post">
            <input
                type="text"
                placeholder="Kısaltmak istediğiniz URL'i giriniz."
                style="width: 100%; border-radius: 5px; height: 45px;"
                name="longUrl"/>
            <input
                type="text"
                placeholder="Sona Erme Süresini Giriniz ..."
                style="width: 100%; border-radius: 5px; height: 45px;"
                name="lastDay"/>
            <input
                type="text"
                placeholder="URL'in kısa halini giriniz."
                style="width: 100%; border-radius: 5px; height: 45px;"
                name="speChar"/>

            <button
                style="background-color: darkgreen; color: white; padding: 10px; margin-top: 25px; border-radius: 8px;"
                type="submit">
                Shorten Url
            </button>
        </form>
        <table class="table table-striped table-no-bordered table-hover" cellspacing="0">
            <thead class="text-center">
                <th class="text-center">Gerçek Url</th>
                <th class="text-center">Kısaltılmış Url</th>
                <th class="text-center">Bitiş Tarihi</th>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.UserUrls)
                {

                    <tr class="text-center">
                        <td class="text-center">@item.OriginalUrl</td>
                        <td class="text-center">@item.ShortUrl</td>
                        <td class="text-center">@item.LastDay</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>